@model RewardViewModel
@{
    ViewData["Title"] = "Редактирование Награды";
    Layout = "_Reward.cshtml";
}

@section BreadLink {
    <li class="breadcrumb-item">
        <a asp-controller="User" asp-action="Index">Award</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
}

<form asp-controller="Reward" asp-action="Create" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    <h4>Создание/Редактирование Награды</h4>
    <hr />
    <div class="validation" asp-validation-summary="All"></div>
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group col-md-5">
        <label for="title">Название:</label>
        <input class="form-control" name="title" type="text" value="@Model.Title" required />
        <div class="invalid-feedback">Введите название</div>
    </div>
    <div class="form-group col-md-5">
        <label for="description">Описание:</label>
        <input class="form-control" name="description" type="text" value="@Model.Description" />
    </div>
    <div class="form-group col-md-5">
        <label for="uploadFile">Изображение</label>
        <input class="form-control-file" name="uploadFile" type="file" />
        @if (Model.ImageUrl != null)
        {
            <a asp-controller="Reward" asp-action="RemoveImage" asp-route-index="@Model.Id">Удалить изображение</a>
        }
    </div>
    <div class="panel-body">
        <button type="submit" id="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
